In [ ]:
## Feature_Engineering_Mody_Mass.ipynb
import numpy as np 
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
data = pd.read_csv('/content/drive/My Drive/ANN/body_mass_index_classification.csv')

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
data.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [ ]:
data["Index"]=data["Index"].map({0:"A",1:"B",2:"C",3:"D",4:"E",5:"F"})

In [ ]:
data.head()

   Gender  Height  Weight Index
0    Male     174      96     E
1    Male     189      87     C
2  Female     185     110     E
3  Female     195     104     D
4    Male     149      61     D

In [ ]:
# X_feature=data.iloc[:,:-1].values
# Y_target=data.iloc[:,-1].values

# X_feature=data.iloc[:,:-1]
# Y_target=data.iloc[:,-1]

In [ ]:
# print(type(X_feature))
# print(type(Y_target))

In [ ]:
x_feature=data.drop(["Index"],axis=1)
x_feature=pd.get_dummies(x_feature)

y_target=data["Index"]

In [ ]:
x_feature
#y_target

     Height  Weight  Gender_Female  Gender_Male
0       174      96              0            1
1       189      87              0            1
2       185     110              1            0
3       195     104              1            0
4       149      61              0            1
..      ...     ...            ...          ...
495     150     153              1            0
496     184     121              1            0
497     141     136              1            0
498     150      95              0            1
499     173     131              0            1

[500 rows x 4 columns]

In [ ]:
print(x_feature.shape)

(500, 4)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [ ]:
x_feature_scaled = sc.fit_transform(x_feature)

In [ ]:
x_feature_scaled

array([[ 0.24793878, -0.30911702, -1.02020406,  1.02020406],
       [ 1.16487212, -0.58732233, -1.02020406,  1.02020406],
       [ 0.92035656,  0.12364681,  0.98019606, -0.98019606],
       ...,
       [-1.76931458,  0.92735105,  0.98019606, -0.98019606],
       [-1.21915457, -0.34002872, -1.02020406,  1.02020406],
       [ 0.18680989,  0.77279254, -1.02020406,  1.02020406]])

In [ ]:
df_feature = pd.DataFrame(x_feature_scaled)
df_feature

            0         1         2         3
0    0.247939 -0.309117 -1.020204  1.020204
1    1.164872 -0.587322 -1.020204  1.020204
2    0.920357  0.123647  0.980196 -0.980196
3    1.531645 -0.061823  0.980196 -0.980196
4   -1.280283 -1.391027 -1.020204  1.020204
..        ...       ...       ...       ...
495 -1.219155  1.452850  0.980196 -0.980196
496  0.859228  0.463676  0.980196 -0.980196
497 -1.769315  0.927351  0.980196 -0.980196
498 -1.219155 -0.340029 -1.020204  1.020204
499  0.186810  0.772793 -1.020204  1.020204

[500 rows x 4 columns]

In [ ]:
print(x_feature.shape)
print(x_feature_scaled.shape)

(500, 4)
(500, 4)

In [ ]:
# Add Columns names 
df_feature_new = pd.DataFrame(x_feature_scaled,columns=x_feature.columns[:4])
df_feature_new.head()

     Height    Weight  Gender_Female  Gender_Male
0  0.247939 -0.309117      -1.020204     1.020204
1  1.164872 -0.587322      -1.020204     1.020204
2  0.920357  0.123647       0.980196    -0.980196
3  1.531645 -0.061823       0.980196    -0.980196
4 -1.280283 -1.391027      -1.020204     1.020204

Create DataFrame

In [ ]:
# initialize list of lists 
data = [['tom', 10], ['nick', 15], ['juli', 14]] 

# Create the pandas DataFrame 
df = pd.DataFrame(data, columns = ['Name', 'Age'])

df

   Name  Age
0   tom   10
1  nick   15
2  juli   14

In [ ]:
# intialise data of lists. 
data = {'Name':['Tom', 'nick', 'krish', 'jack'], 'Age':[20, 21, 19, 18]} 
  
# Create DataFrame 
df = pd.DataFrame(data) 

df

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

In [ ]:
# initialise data of lists. 
data = {'Name':['Tom', 'Jack', 'nick', 'juli'], 'marks':[99, 98, 95, 90]} 
  
# Creates pandas DataFrame. 
df = pd.DataFrame(data, index =['rank1', 'rank2', 'rank3', 'rank4']) 
  
df

       Name  marks
rank1   Tom     99
rank2  Jack     98
rank3  nick     95
rank4  juli     90